// @import "bootstrap/scss/bootstrap";
body {
   background: #e74c3c;
}

#canvas {
   position: relative;
   left: calc(50% - 390px);
   top: 50px;
   border: 1px dotted black;
   cursor: crosshair;
   background: #ecf0f1;
}
